/*
  General
*/

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(#000000, 0.1);
  border-left:1px solid ;
}

::-webkit-scrollbar-thumb {
  background: $border-color;
}

::-webkit-scrollbar-thumb:hover {
  // background: #555;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  font-weight:bold;
}

html,
body {
  margin:0;
  padding: 0;
  overflow-x: hidden;
}

html {
  font-family: $main-font;
  color: $text;
  font-size: .85rem;
  // line-height: 1.5;
  background: $bg;
}

body {
  font-weight: lighter;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
  width:100%;

  padding:5rem 1rem 1rem 1rem;
}

/* Links */
a {
  color: $link;
  text-decoration: none;
}

/* `:focus` is linked to `:hover` for basic accessibility */
a:hover,
a:focus {
  // text-decoration: underline;
  background: $acc;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
  font-weight: normal;
  letter-spacing: -.025rem;
  line-height: 1.25;
  text-rendering: optimizeLegibility;
  margin-bottom: 1rem;
  margin-top:1rem;
}

h1,
h1.text-title {
  font-size: 1.4rem;
}

h2 {
  margin-top: 1rem;
  font-size: 1.2rem;
}

h3, h4, h5, h6 {
  margin-top: 1rem;
  font-size: 1rem;
}

h3 {
  margin-top: 1.5rem;
}


/* Body text */
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

/* Lists */
ul {
  list-style: circle;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 1rem;
}

/* Horizontal ruler */
hr {
  position: relative;
  margin: 1.5rem 0;
  border: 0;
  border-bottom: 1px solid ;
  overflow: visible;
}

/* Search highlighting */
mark {
  color: white;
  background-color: $link-color;
}

/* Quotes */
blockquote {
  padding: 0rem 1.5rem 0rem 2rem;
  margin: 0 0 20px 0;
  color: $text;
  border-left: none;
  font-style: italic;
}

blockquote p:last-child {
  margin-bottom: 0;
}

@media (min-width: 30em) {
  blockquote {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}

/* Images */
img {
  max-width: 100%;
}

/* Tables */
table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid ;
  border-collapse: collapse;
}

td,
th {
  padding: 3rem 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 50%;
  text-align: center;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: rgba(249, 249, 249, 0.03);
}

nav {
  padding-top:.5rem;
  border-bottom:1px solid;
  position: fixed;
  top:0;
  left:0;
  width:100%;
  background: $bg;
}

nav .name {
  padding-left:1rem;
}

.ground {
  height:1rem;
  border-top:1px solid;
  margin-top:.5rem;
  // background: linear-gradient(90deg, #bad29d 0%, rgb(131, 131, 131) 50%, #bad29d 100%);

  background-image: url('https://miswend.org/img/shurivsr.gif');
  background-size: 1rem;
}

.ground.bottom {
  position: fixed;
  bottom:0;
  left:0;
  width:100%;
}

select {
  font-family: inherit;
}

button {
  cursor: pointer;
  background: transparent;
  color:inherit;
  font-family: inherit;
  border: 1px solid;
}

article.text {
  max-width:800px;
}


/* Footnotes styles */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

.footnotes {
  line-height: 1.2rem;
  font-size: 0.9rem;
  letter-spacing: .01rem;
}

.footnotes .foot-block {
  display: inline-block;
  padding: 0 4rem 0 2rem;
  margin-bottom: .8rem;
  font-style: italic;
}

a.footnote {
  padding-left: .1rem;
  font-size: .66rem;
}

/*Bibliography styles */
ol.bibliography {
  list-style-type:none;
  padding-left: 1rem;
  text-indent: -1rem;
}

/* Diplomatic editions */
ins,
.add {
  color:#288828;
  font-style: italic;
}

del,
.delete {
  text-decoration: line-through;
  color: #AA3232;
}

u,
.underline {
  text-decoration: underline;
}


// PHOTOS

article.photos {
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;
}

article.photos div {
  width:25%;
  height:40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

article.photos img {
  max-width:90%;
  max-height:80%;
}