---
sitemap: false
---

/* Fonts */
$main-font: 'qt letter goth', monospace;
$heading-font: 'qt letter goth', monospace;

$bg: #D4D1D2;

$acc: rgba(152, 152, 152, 0.15);

$web:rgba(163, 173, 102, 0.15);
$teach:rgba(159, 130, 78, 0.15);
$software:rgba(152, 152, 152, 0.15);
$pub:rgba(152, 152, 152, 0.15);

$text: #4c4247;
$link: #52618b;
$link-hover: rgba(222, 115, 93, 0.4);

$max-width: 800px;

@import "syntax";

@font-face {
  font-family: 'qt letter goth';
  src: url('../fonts/qtlettergoth.woff2') format('woff2'),
       url('../fonts/qtlettergoth.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'qt letter goth';
  src: url('../fonts/qtlettergoth-italic.woff2') format('woff2'),
       url('../fonts/qtlettergoth-italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'qt letter goth';
  src: url('../fonts/qtlettergoth-bold.woff2') format('woff2'),
       url('../fonts/qtlettergoth-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'qt letter goth';
  src: url('../fonts/qtlettergoth-bolditalic.woff2') format('woff2'),
       url('../fonts/qtlettergoth-bolditalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin:0;
  padding: 0;
  overflow-x: hidden;
}

html {
  font-family: $main-font;
  color: $text;
  font-size: .85rem;
  // line-height: 1.5;
  background: $bg;
}

body {
  font-weight: lighter;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
  width:100%;
  color:inherit;
  padding:5rem 1rem 1rem 1rem;
}


// Typography
// ----------
a {
  color: $link;
  // text-decoration: none;
}

a:hover,
a:focus {
  background: $acc;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
  font-weight: normal;
  letter-spacing: -.025rem;
  line-height: 1.25;
  text-rendering: optimizeLegibility;
  margin-bottom: 1rem;
  margin-top:1rem;
}

h1,
h1.text-title {
  font-size: 1.4rem;
}

h2 {
  margin-top: 1rem;
  font-size: 1.2rem;
}

h3, h4, h5, h6 {
  margin-top: 1rem;
  font-size: 1rem;
}

h3 {
  margin-top: 1.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ul {
  list-style: circle;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 1rem;
}

hr {
  position: relative;
  margin: 1.5rem 0;
  border: 0;
  border-bottom: 1px solid ;
  overflow: visible;
}


// Images
// ----------
img {
  max-width: 100%;
}

// Tables
// ----------
table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid;
  border-collapse: collapse;
}

td,
th {
  padding: 3rem 1rem;
  border: 1px solid;
  width: 50%;
  text-align: center;
}


// Interface
// ----------
select {
  color:inherit;
  font-family: inherit;
  // background: rgba(126, 126, 126, 0.1);
  background: transparent;
  border:1px solid;
  border-radius:2px;
}

button {
  cursor: pointer;
  background: transparent;
  color:inherit;
  font-family: inherit;
  border: 1px solid;
}


// Footnotes
// ----------
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

del {
  text-decoration: line-through;
}

u {
  text-decoration: underline;
}


// Nav
// ----------
nav {
  padding-top:.5rem;
  border-bottom:1px solid;
  position: fixed;
  top:0;
  left:0;
  width:100%;
  background: $bg;
}

nav .name {
}

nav .icon {
  padding-left:1rem;
  height:16px;
  position: relative;
  top:2px;
}

.ground {
  height:1rem;
  border-top:1px solid;
  margin-top:.5rem;

  background-image: url('https://miswend.org/img/shurivsr.gif');
  background-size: 1rem;
}

.ground.bottom {
  position: fixed;
  bottom:0;
  left:0;
  width:100%;
}


// Text
// ----------
article.text {
  max-width:800px;
}


// Photos
// ----------
article.photos {
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;
}

article.photos .item {
  width:12.5%;
  // height:40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:2%;
  // border:1px solid;
}

article.photos .item.hide {
  opacity:0;
  pointer-events:none;
}

article.photos .item.active {
  // background:rgba(0, 0, 0, 0.485);
  width:100%;
  height:100vh;
  justify-content: center;
  align-items: center;
  position:fixed;
  top:0;
  left:0;
  padding-top:5.5rem;
  padding-bottom:4rem;
  z-index: 2;
  pointer-events: none;
}

article.photos .item .caption {
  display:none;
}

article.photos .item.active .caption {
  display:block;
  position:absolute;
  bottom:1rem;
  left:50%;
  transform: translateX(-50%);
  color:white;
  z-index: 2;
  pointer-events: auto;
}

article.photos img {
  // max-width:90%;
  max-height:100%;
  cursor: zoom-in;
  pointer-events: auto;
}

article.photos .item.active img {
  cursor: zoom-out;
}

.lightbox-bg {
  background:rgb(255, 255, 255);
  mix-blend-mode: exclusion;
  position: fixed;
  top:0;
  left:0;
  height:100vh;
  width:100vw;
  z-index: 1;
  display:none;
}

.lightbox-bg.active {
  display:block;
}


// Studio
// ------------

details{
  // border-bottom:1px solid;
}

details[open] {
  border-bottom:1px solid;
}

summary {
  padding:.5rem 0;
  display: flex;
  cursor:pointer;
  // justify-content: space-between;
  align-items: baseline;
}

summary:hover,
details[open] summary {
  background: $acc;
}

// website
summary.website:hover,
details[open] summary.website {
  background: $web;
}

// teaching
summary.teaching:hover,
details[open] summary.teaching {
  background: $teach;
}

// software
summary.software:hover,
details[open] summary.software {
  background: $software;
}

// publication
summary.publication:hover,
details[open] summary.publication {
  background: $pub;
}


summary span:first-of-type {
  font-size: 80%;
  width:75px;
}

summary span::selection {
  background: transparent;
  color: var(--color);
}

details .drawer {
  padding:.5rem 75px;
}

details .drawer div {
  padding:.5rem 0;
}

article.studio img {
  width:150px;
}

article.studio .proj-link {
  margin-bottom:.5rem;
  display: inline-block;
}



// Media Queries
// -------------
@media screen and (max-width:800px) {
  
  article.photos .item {
    width:33.333%;
  }

}