---
layout: default
---
<article class="studio">
{% for project in site.studio %}

  <details>
    <summary class="{{ project.tags }}">
      <span>{{ project.year }}</span>
      <span>{{ project.title }}</span>
    </summary>
    <div class="drawer">

      {% if project.link %}
        <a class="proj-link" href="{{ project.link }}">{{ project.link }}</a><br>
      {% endif %}
      {{ project.description }}<br>

      <div class="images">
        <!-- {{ project.content }} -->

        {% for image in project.images %}
          <img src="{{ image.path }}">
        {% endfor %}
      </div>

      <!-- {% for tag in project.tags %}
        {{tag}}{% unless forloop.last %},
        {% endunless %}
      {% endfor %} -->
    </div>
  </details>

{% endfor %}
</article>


